
  .jumbotron{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #3C5AA6;
  }

  .display-4 {
    padding: 5px;
    text-align: center;
  }

  .lead{
      text-align: center;
      color: #f4c921;
  }

  .main-container{
      display: flex;
  }

  .sidebar-container{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: solid #2A75BB;
    border-radius: 10px;
    border-width: 5px;
    width: 18rem;
    background-color: #f4c921
  }

  .search-container{
      padding: 10px
  }

  .searchbar-container{
      display: flex;
      flex-direction: row;
  }

  .search-button{
      font-size: smaller;
      background-color: #2A75BB;
      color: #f4c921;
  }

  .search-button:hover {
      background-color: #144879;;
  }

  .form-label{
      margin-left: 5px;
      color: #ff0000;
      font-weight: bold;
      padding: 2px;
  }

  .form-control{
      margin-left: 5px;
      height: 3rem
  }

  .form-select{
      margin-left: 15px;
      margin-bottom: 10px;
  }

  .weather-results{
      padding: 10px;
      color: #144879;
      font-weight: 480;
  }

  .results-container{
      display: flex;
      flex-direction: column;
  }

.search-title{
    margin-left: 20px;
}

.search-results{
    flex-wrap: wrap;
      padding: 10px;
      margin-left: 20px;
    
  }

.type-header{
    border: solid;
  }

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

  footer {
    width: 100%;
    bottom: 0;
    padding: 25px;
    text-align: center;
    background: #3C5AA6;
    color: #f4c921;
    margin-top: 48px;
  }

  li{
    font-size: 20px;
    color: #2A75BB;
    font-weight: 480;
  }
  #example{
      font-weight: bold;
      color: #ff0000;
  }

  .modal{
      background-color: #f4c921;
  }

  .modal-title{
      color: #f4c921;
  }

  .modal-content{
      background-color: #3C5AA6;
  }

  .modal-body{
      text-align: center;
      font-weight: bold;
      color: #f4c921;
  }


  .modal-li-1,
  .modal-li-2,
  .modal-li-3,
  .modal-li-4,
  .modal-li-5 {
      color: #f4c921;
      list-style-type: none;
      text-align: left;
      padding: 5px;
  }

  .button-container{
      display: flex;
      justify-content: flex-end;
  }

  .btn-secondary{
      background-color: #3C5AA6;
      color: #f4c921;
      padding: 5px;
  }
